<h1>Request 객체 사용해보기</h1>

<p>request.accpets</p>
# => <%= request.accepts %>

<p>request.authorization</p>
# => <%= request.authorization %>

<p>request.body</p>
# => <%= request.body %>

<p>request.content_length</p>
# => <%= request.content_length %>

<p>request.fullpath</p>
# => <%= request.fullpath %> 

<p>request.get? or post?,put?,patch?,delete?,head?</p>
# => <%= request.get? %>

<p>request.host</p>
# => <%= request.host %>

<p>request.host_with_port</p>
# => <%= request.host_with_port %>

<p>request.local?</p>
# => <%= request.local? %>

<p>request.method</p>
# => <%= request.method %>

<hr>

<p>port</p>

# => <%= request.port %>

<p>port_string </p>

# => <%= request.port_string %>

<p>request.protocol</p>

# => <%= request.protocol %>

<p>request.remote_ip</p>

# => <%= request.remote_ip %>

<p>request_method</p>

# => <%= request.request_method %>

<!-- request_uri deprecated -->
<!-- <p>request_uri</p> -->
<!-- # => <%# request.request_uri %> -->
<!-- request_uri deprecated -->
<p>scheme</p>

# => <%= request.scheme %>

<p>server_software</p>

# => <%= request.server_software %>

<p>ssl?</p>

# => <%= request.ssl? %>

<p>standard_port?</p>

# => <%= request.standard_port? %>

<p>url</p>

# => <%= request.url %>

<p>xml_http_request?</p>

# => <%= request.xml_http_request? %>

<hr>
