<%= form_for(auther) do |f| %>
  <% if auther.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auther.errors.count, "error") %> prohibited this auther from being saved:</h2>

      <ul>
      <% auther.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :birth %>
    <%= f.date_select :birth %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :ctype %>
    <%= f.text_field :ctype %>
  </div>

  <div class="field">
    <%= f.label :photo %>
    <%= f.text_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
