<p id="notice"><%= notice %></p>

<h1>Authers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Birth</th>
      <th>Address</th>
      <th>Ctype</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authers.each do |auther| %>
      <tr>
        <td><%= auther.user %></td>
        <td><%= auther.name %></td>
        <td><%= auther.birth %></td>
        <td><%= auther.address %></td>
        <td><%= auther.ctype %></td>
        <td><%= auther.photo %></td>
        <td><%= link_to 'Show', auther %></td>
        <td><%= link_to 'Edit', edit_auther_path(auther) %></td>
        <td><%= link_to 'Destroy', auther, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auther', new_auther_path %>
