<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @auther.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @auther.name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @auther.birth %>
</p>

<p>
  <strong>Address:</strong>
  <%= @auther.address %>
</p>

<p>
  <strong>Ctype:</strong>
  <%= @auther.ctype %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @auther.photo %>
</p>

<%= link_to 'Edit', edit_auther_path(@auther) %> |
<%= link_to 'Back', authers_path %>
